body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.rasm {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 45%;
    padding-top: 20px;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 40px;
    margin-top: 10px;
    background-color: #5c5e56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container1{
    width: 600px;
    height: 500px;
    background-color:#fef9f9;
    box-shadow: 4px 1pc 7px;
    margin-left:10%;
    margin-top: 10%;
    padding-top: 30px;
    border-radius: 5%;
}
nav ul li a{
    text-decoration: none;
    color: #b0acac;
}